@model Core_Cookies_Authentiaction_Test.Models.UserInfo  
@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post" asp-action="LoginSystem">
                <h4>Login</h4>
                <hr />

                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">登录</button>
                </div>

            </form>
        </section>
    </div>
</div>

